In [15]:
import os 
import numpy as np
import pandas as pd 
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', lambda x: '%.4f' % x)

# Merging school data with race/sex percentages

In [16]:
os.chdir('C:\\Users\\rhian\\Downloads\\CYPLAN 255\\AP-Exams\\ap_exam_less_memory')
ap_school = pd.read_csv('ap_dir_school.csv')
ap_school = ap_school.drop(['Unnamed: 0', 'teachers_fte_crdc', 'crdc_id_x'], axis=1)
ap_school.columns = ['ncessch', 'year', 'leaid', 'race', 'sex', 'students_AP_exam_none', 
                     'students_AP_exam_oneormore', 'latitude', 'longitude', 'enrollment', 
                     'school_name', 'AP_oneormore_relative', 
                     'teachers_per_student', 'security_gaurds_per_students', 'avg_teacher_salary'] 
ap_school = ap_school.groupby(['year', 'ncessch']).max().reset_index() 
ap_school

,year,ncessch,leaid,race,sex,students_AP_exam_none,students_AP_exam_oneormore,latitude,longitude,enrollment,school_name,AP_oneormore_relative,teachers_per_student,security_gaurds_per_students,avg_teacher_salary
0,2011,60000103278.0000,600001.0000,99,99,89.0000,42.0000,34.4936,-118.2161,513.0000,VASQUEZ HIGH,8.1871,0.0484,0.0027,77612.6500
1,2011,60000310347.0000,600003.0000,99,99,13.0000,2.0000,37.5596,-121.9630,420.0000,CALIFORNIA SCHOOL FOR THE DEAF-FREMONT,0.4762,0.3147,0.0000,84851.5765
2,2011,60001302405.0000,600013.0000,99,99,11.0000,483.0000,38.8136,-121.2535,1843.0000,ROCKLIN HIGH,26.2073,0.0449,0.0000,51197.7241
3,2011,60001311010.0000,600013.0000,99,99,0.0000,424.0000,38.8364,-121.2894,1777.0000,WHITNEY HIGH,23.8604,0.0461,0.0000,54703.3611
4,2011,60001609086.0000,600016.0000,99,99,319.0000,439.0000,34.1047,-117.6575,3557.0000,UPLAND HIGH,12.3419,0.0421,0.0028,75420.2602
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4456,2017,69113511047.0000,691135.0000,99,99,78.0000,826.0000,33.8562,-117.3305,2062.0000,Citrus Hill High,40.0582,0.0422,0.0024,79084.1264
4457,2017,69113512749.0000,691135.0000,99,99,7.0000,9.0000,33.8858,-117.2238,123.0000,Val Verde Academy,7.3171,0.0569,0.0081,50507.7143
4458,2017,69113513992.0000,691135.0000,99,99,15.0000,303.0000,33.8145,-117.1989,1652.0000,Orange Vista High,18.3414,0.0412,0.0036,77925.1765
4459,2017,69113603761.0000,691136.0000,99,99,18.0000,22.0000,36.8810,-121.5559,357.0000,Anzar High,6.1625,0.0560,0.0028,70787.1875
4460,2017,69113710339.0000,691137.0000,99,99,0.0000,2.0000,37.8633,-120.2271,45.0000,Tioga High,4.4444,0.1111,0.0000,76913.5000

In [17]:
os.chdir('C:\\Users\\rhian\\Downloads\\CYPLAN 255\\AP-Exams\\Data\\Additional Feature Creation')
race = pd.read_csv('race_percentages.csv')
race

sex = pd.read_csv('sex_percentages.csv')
sex

              ncessch  year  %Female  %Male
0    60000103278.0000  2011   0.4785 0.5215
1    60000103278.0000  2013   0.4918 0.5082
2    60000103278.0000  2015   0.5145 0.4855
3    60000103278.0000  2017   0.4663 0.5337
4    60000113859.0000  2017   0.4972 0.5028
...               ...   ...      ...    ...
4757 69113603761.0000  2017   0.4525 0.5475
4758 69113710339.0000  2011   0.5444 0.4556
4759 69113710339.0000  2013   0.5128 0.4872
4760 69113710339.0000  2015   0.5085 0.4915
4761 69113710339.0000  2017   0.4390 0.5610

[4762 rows x 4 columns]

In [18]:
ap_dem = ap_school.merge(race, on = ['ncessch', 'year'], how = 'left')
ap_dem = ap_dem.merge(sex, on = ['ncessch', 'year'], how = 'left')
ap_dem

,year,ncessch,leaid,race,sex,students_AP_exam_none,students_AP_exam_oneormore,latitude,longitude,enrollment,school_name,AP_oneormore_relative,teachers_per_student,security_gaurds_per_students,avg_teacher_salary,%Asian,%Black,%Hispanic,%Indigenous \nAmerican,%Multiracial,%Pacific \nIslander,%White,%Female,%Male
0,2011,60000103278.0000,600001.0000,99,99,89.0000,42.0000,34.4936,-118.2161,513.0000,VASQUEZ HIGH,8.1871,0.0484,0.0027,77612.6500,0.0137,0.0078,0.2832,0.0078,0.0254,0.0039,0.6582,0.4785,0.5215
1,2011,60000310347.0000,600003.0000,99,99,13.0000,2.0000,37.5596,-121.9630,420.0000,CALIFORNIA SCHOOL FOR THE DEAF-FREMONT,0.4762,0.3147,0.0000,84851.5765,0.0831,0.0966,0.4202,0.0090,0.0292,0.0090,0.3528,0.4831,0.5169
2,2011,60001302405.0000,600013.0000,99,99,11.0000,483.0000,38.8136,-121.2535,1843.0000,ROCKLIN HIGH,26.2073,0.0449,0.0000,51197.7241,0.0463,0.0087,0.1494,0.0055,0.0676,0.0267,0.6957,0.5115,0.4885
3,2011,60001311010.0000,600013.0000,99,99,0.0000,424.0000,38.8364,-121.2894,1777.0000,WHITNEY HIGH,23.8604,0.0461,0.0000,54703.3611,0.0683,0.0209,0.1361,0.0056,0.0531,0.0395,0.6765,0.5042,0.4958
4,2011,60001609086.0000,600016.0000,99,99,319.0000,439.0000,34.1047,-117.6575,3557.0000,UPLAND HIGH,12.3419,0.0421,0.0028,75420.2602,0.0549,0.0839,0.4693,0.0047,0.0276,0.0241,0.3356,0.4969,0.5031
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4456,2017,69113511047.0000,691135.0000,99,99,78.0000,826.0000,33.8562,-117.3305,2062.0000,Citrus Hill High,40.0582,0.0422,0.0024,79084.1264,0.0112,0.0810,0.8389,0.0024,0.0136,0.0039,0.0490,0.4716,0.5284
4457,2017,69113512749.0000,691135.0000,99,99,7.0000,9.0000,33.8858,-117.2238,123.0000,Val Verde Academy,7.3171,0.0569,0.0081,50507.7143,0.0242,0.2016,0.6371,NaN,0.0242,0.0081,0.1048,0.5161,0.4839
4458,2017,69113513992.0000,691135.0000,99,99,15.0000,303.0000,33.8145,-117.1989,1652.0000,Orange Vista High,18.3414,0.0412,0.0036,77925.1765,0.0248,0.1320,0.7815,0.0042,0.0157,0.0042,0.0375,0.4619,0.5381
4459,2017,69113603761.0000,691136.0000,99,99,18.0000,22.0000,36.8810,-121.5559,357.0000,Anzar High,6.1625,0.0560,0.0028,70787.1875,0.0140,0.0084,0.6955,0.0028,0.0112,NaN,0.2737,0.4525,0.5475
4460,2017,69113710339.0000,691137.0000,99,99,0.0000,2.0000,37.8633,-120.2271,45.0000,Tioga High,4.4444,0.1111,0.0000,76913.5000,NaN,NaN,0.1707,0.0244,0.0976,NaN,0.7073,0.4390,0.5610

# Merging school and demographics data with student data

In [19]:
os.chdir('C:\\Users\\rhian\\Downloads\\CYPLAN 255\\AP-Exams\\Data')
ap_student = pd.read_csv('ap_rates_imputed.csv')
ap_student = ap_student[(ap_student['race'] == 99) & (ap_student['sex'] == 99)]
ap_student = ap_student[['ncessch', 'year', 'enrl_AP',
                        'enrl_AP_science', 'enrl_AP_math', 'enrl_AP_other',
                        'enrl_gifted_talented', 'students_SAT_ACT',
                        'students_chronically_absent',
                        'students_report_harass_dis', 'students_susp_in_sch',
                        'students_susp_out_sch_single', 'students_susp_out_sch_multiple',
                        'students_arrested']]
ap_student

,ncessch,year,enrl_AP,enrl_AP_science,enrl_AP_math,enrl_AP_other,enrl_gifted_talented,students_SAT_ACT,students_chronically_absent,students_report_harass_dis,students_susp_in_sch,students_susp_out_sch_single,students_susp_out_sch_multiple,students_arrested
22,60000103278.0000,2011,0.2578,0.0820,0.0234,0.0664,0.1607,0.0488,0.0820,0.0000,0.0000,0.0762,0.0449,0.0000
45,60000103278.0000,2013,0.1718,0.0376,0.0437,0.1671,0.0094,0.0729,0.0988,0.0000,0.0000,0.0000,0.0000,0.0000
66,60000103278.0000,2015,0.0844,0.0369,0.0449,0.0844,0.1069,0.1187,0.0844,0.0000,0.0000,0.0739,0.0106,0.0000
87,60000103278.0000,2017,0.1752,0.0447,0.0377,0.1671,0.1309,0.0296,0.0863,0.0000,0.0431,0.0916,0.0000,0.0000
108,60000113859.0000,2017,0.0562,0.0163,0.0140,0.0544,0.0860,0.0355,0.1091,0.0000,0.0007,0.0077,0.0025,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104261,69113603761.0000,2017,0.1145,0.0291,0.0391,0.0754,0.1136,0.1061,0.0810,0.0000,0.0000,0.0000,0.0447,0.0000
104280,69113710339.0000,2011,0.1556,0.0000,0.0000,0.1222,0.1190,0.1556,0.2000,0.0000,0.0000,0.0000,0.0000,0.0000
104298,69113710339.0000,2013,0.2692,0.0725,0.0670,0.2692,0.1694,0.0000,0.2308,0.0000,0.0000,0.0897,0.0000,0.0000
104312,69113710339.0000,2015,0.2542,0.0678,0.0658,0.1525,0.1607,0.1864,0.1864,0.0000,0.0000,0.0678,0.0000,0.0000
104326,69113710339.0000,2017,0.0488,0.0144,0.0488,0.0367,0.0878,0.2683,0.2683,0.0000,0.0000,0.0488,0.0244,0.0000

In [25]:
ap = ap_dem.merge(ap_student, on = ['ncessch', 'year'], how = 'left')
ap = ap.drop(['race', 'sex', 'leaid', 'students_AP_exam_none', 'students_AP_exam_oneormore'], axis=1)

# fill all missing demographics data with 0 since it seems like the available data explains everything already 
ap = ap.fillna(0)
ap

,year,ncessch,students_AP_exam_none,students_AP_exam_oneormore,latitude,longitude,enrollment,school_name,AP_oneormore_relative,teachers_per_student,security_gaurds_per_students,avg_teacher_salary,%Asian,%Black,%Hispanic,%Indigenous \nAmerican,%Multiracial,%Pacific \nIslander,%White,%Female,%Male,enrl_AP,enrl_AP_science,enrl_AP_math,enrl_AP_other,enrl_gifted_talented,students_SAT_ACT,students_chronically_absent,students_report_harass_dis,students_susp_in_sch,students_susp_out_sch_single,students_susp_out_sch_multiple,students_arrested
0,2011,60000103278.0000,89.0000,42.0000,34.4936,-118.2161,513.0000,VASQUEZ HIGH,8.1871,0.0484,0.0027,77612.6500,0.0137,0.0078,0.2832,0.0078,0.0254,0.0039,0.6582,0.4785,0.5215,0.2578,0.0820,0.0234,0.0664,0.1607,0.0488,0.0820,0.0000,0.0000,0.0762,0.0449,0.0000
1,2011,60000310347.0000,13.0000,2.0000,37.5596,-121.9630,420.0000,CALIFORNIA SCHOOL FOR THE DEAF-FREMONT,0.4762,0.3147,0.0000,84851.5765,0.0831,0.0966,0.4202,0.0090,0.0292,0.0090,0.3528,0.4831,0.5169,0.0292,0.0000,0.0225,0.0225,0.0781,0.0652,0.2382,0.0090,0.0292,0.1079,0.0742,0.0000
2,2011,60001302405.0000,11.0000,483.0000,38.8136,-121.2535,1843.0000,ROCKLIN HIGH,26.2073,0.0449,0.0000,51197.7241,0.0463,0.0087,0.1494,0.0055,0.0676,0.0267,0.6957,0.5115,0.4885,0.2775,0.1080,0.0943,0.2170,0.1603,0.2285,0.0769,0.0000,0.1499,0.0098,0.0578,0.0000
3,2011,60001311010.0000,0.0000,424.0000,38.8364,-121.2894,1777.0000,WHITNEY HIGH,23.8604,0.0461,0.0000,54703.3611,0.0683,0.0209,0.1361,0.0056,0.0531,0.0395,0.6765,0.5042,0.4958,0.2400,0.0604,0.0401,0.1355,0.0966,0.1846,0.0768,0.0000,0.0423,0.0344,0.0073,0.0011
4,2011,60001609086.0000,319.0000,439.0000,34.1047,-117.6575,3557.0000,UPLAND HIGH,12.3419,0.0421,0.0028,75420.2602,0.0549,0.0839,0.4693,0.0047,0.0276,0.0241,0.3356,0.4969,0.5031,0.2247,0.0748,0.0722,0.1464,0.1405,0.1349,0.1000,0.0000,0.0000,0.0493,0.0106,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4456,2017,69113511047.0000,78.0000,826.0000,33.8562,-117.3305,2062.0000,Citrus Hill High,40.0582,0.0422,0.0024,79084.1264,0.0112,0.0810,0.8389,0.0024,0.0136,0.0039,0.0490,0.4716,0.5284,0.4386,0.1179,0.1383,0.4090,0.1980,0.4653,0.0150,0.0000,0.0000,0.0505,0.0107,0.0000
4457,2017,69113512749.0000,7.0000,9.0000,33.8858,-117.2238,123.0000,Val Verde Academy,7.3171,0.0569,0.0081,50507.7143,0.0242,0.2016,0.6371,0.0000,0.0242,0.0081,0.1048,0.5161,0.4839,0.1290,0.0242,0.0348,0.1048,0.1290,0.1452,0.0565,0.0000,0.0000,0.0000,0.0000,0.0000
4458,2017,69113513992.0000,15.0000,303.0000,33.8145,-117.1989,1652.0000,Orange Vista High,18.3414,0.0412,0.0036,77925.1765,0.0248,0.1320,0.7815,0.0042,0.0157,0.0042,0.0375,0.4619,0.5381,0.1937,0.0248,0.0103,0.1883,0.1586,0.2343,0.1642,0.0000,0.0000,0.0684,0.0230,0.0000
4459,2017,69113603761.0000,18.0000,22.0000,36.8810,-121.5559,357.0000,Anzar High,6.1625,0.0560,0.0028,70787.1875,0.0140,0.0084,0.6955,0.0028,0.0112,0.0000,0.2737,0.4525,0.5475,0.1145,0.0291,0.0391,0.0754,0.1136,0.1061,0.0810,0.0000,0.0000,0.0000,0.0447,0.0000
4460,2017,69113710339.0000,0.0000,2.0000,37.8633,-120.2271,45.0000,Tioga High,4.4444,0.1111,0.0000,76913.5000,0.0000,0.0000,0.1707,0.0244,0.0976,0.0000,0.7073,0.4390,0.5610,0.0488,0.0144,0.0488,0.0367,0.0878,0.2683,0.2683,0.0000,0.0000,0.0488,0.0244,0.0000

In [26]:
# getting rid of inf's
# ap[ap['ncessch'] == 62334003548]
ap['avg_teacher_salary'][593] = 61660.6305

C:\Users\rhian\AppData\Local\Temp/ipykernel_15932/4102380501.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ap['avg_teacher_salary'][593] = 61660.6305

In [28]:
ap['avg_teacher_salary'][594] = (65302.1522 + 56925.4297 + 62237.397) / 3
ap[ap['ncessch'] == 62334011679]

C:\Users\rhian\AppData\Local\Temp/ipykernel_15932/2997958497.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ap['avg_teacher_salary'][594] = (65302.1522 + 56925.4297 + 62237.397) / 3

,year,ncessch,students_AP_exam_none,students_AP_exam_oneormore,latitude,longitude,enrollment,school_name,AP_oneormore_relative,teachers_per_student,security_gaurds_per_students,avg_teacher_salary,%Asian,%Black,%Hispanic,%Indigenous \nAmerican,%Multiracial,%Pacific \nIslander,%White,%Female,%Male,enrl_AP,enrl_AP_science,enrl_AP_math,enrl_AP_other,enrl_gifted_talented,students_SAT_ACT,students_chronically_absent,students_report_harass_dis,students_susp_in_sch,students_susp_out_sch_single,students_susp_out_sch_multiple,students_arrested
594,2011,62334011679.0000,0.0000,0.0000,36.9403,-120.0659,2737.0000,MADERA SOUTH HIGH,0.0000,0.0431,0.0027,61488.3263,0.0140,0.0288,0.8548,0.0035,0.0130,0.0014,0.0845,0.4953,0.5047,0.0775,0.0000,0.0193,0.0554,0.1056,0.0396,0.1470,0.0000,0.0000,0.0000,0.0000,0.0000
1652,2013,62334011679.0000,93.0000,240.0000,36.9403,-120.0659,2652.0000,MADERA SOUTH HIGH,9.0498,0.0431,0.0027,65302.1522,0.0102,0.0322,0.8768,0.0069,0.0037,0.0007,0.0695,0.4943,0.5057,0.1214,0.0310,0.0548,0.0925,0.1097,0.0472,0.1532,0.0000,0.0764,0.0508,0.0186,0.0000
2741,2015,62334011679.0000,149.0000,218.0000,36.9403,-120.0659,2916.0000,Madera South High,7.4760,0.0446,0.0024,56925.4297,0.0083,0.0273,0.9023,0.0063,0.0033,0.0000,0.0523,0.4890,0.5110,0.1227,0.0190,0.0570,0.0937,0.1107,0.1343,0.1707,0.0000,0.0037,0.0577,0.0340,0.0000
3928,2017,62334011679.0000,137.0000,290.0000,36.9403,-120.0659,3156.0000,Madera South High,9.1888,0.0431,0.0027,62237.3971,0.0105,0.0209,0.9245,0.0029,0.0022,0.0000,0.0390,0.4971,0.5029,0.1354,0.0133,0.0022,0.1354,0.1104,0.2429,0.1623,0.0003,0.0507,0.0558,0.0222,0.0010

In [30]:
# ap.to_csv('ap_full.csv', index=False)

# Converting everything except year and ncessch to means for Fixed Effect Modeling

In [29]:
ap_model = ap.drop(['latitude', 'longitude', 'school_name'], axis=1)

In [30]:
mean_cols = ['enrollment', 'AP_oneormore_relative',
       'teachers_per_student', 'security_gaurds_per_students',
       'avg_teacher_salary', '%Asian', '%Black', '%Hispanic',
       '%Indigenous \nAmerican ', '%Multiracial', '%Pacific \nIslander',
       '%White', '%Female', '%Male', 'enrl_AP', 'enrl_AP_science',
       'enrl_AP_math', 'enrl_AP_other', 'enrl_gifted_talented',
       'students_SAT_ACT', 'students_chronically_absent',
       'students_report_harass_dis', 'students_susp_in_sch',
       'students_susp_out_sch_single', 'students_susp_out_sch_multiple',
       'students_arrested']

# get mean across all rows 
for i in mean_cols: 
    mean_name = i + '_mean'
    ap_model[mean_name] = ap_model.groupby('ncessch')[i].transform(np.mean)
    ap_model[i] = ap_model[i] - ap_model[mean_name]
    ap_model = ap_model.drop(mean_name, axis=1)

ap_model

,year,ncessch,enrollment,AP_oneormore_relative,teachers_per_student,security_gaurds_per_students,avg_teacher_salary,%Asian,%Black,%Hispanic,%Indigenous \nAmerican,%Multiracial,%Pacific \nIslander,%White,%Female,%Male,enrl_AP,enrl_AP_science,enrl_AP_math,enrl_AP_other,enrl_gifted_talented,students_SAT_ACT,students_chronically_absent,students_report_harass_dis,students_susp_in_sch,students_susp_out_sch_single,students_susp_out_sch_multiple,students_arrested
0,2011,60000103278.0000,83.0000,-0.2329,0.0002,0.0000,17499.4056,0.0039,-0.0045,-0.0388,-0.0029,-0.0694,0.0004,0.1114,-0.0093,0.0093,0.0855,0.0317,-0.0140,-0.0548,0.0587,-0.0187,-0.0059,0.0000,-0.0108,0.0157,0.0311,0.0000
1,2011,60000310347.0000,22.2500,-0.2826,-0.0017,-0.0026,3164.3876,-0.0238,0.0080,-0.0452,0.0032,-0.0157,0.0031,0.0705,-0.0005,0.0005,0.0030,-0.0052,0.0095,0.0001,-0.0094,-0.0365,0.0140,0.0006,0.0043,0.0178,0.0234,0.0000
2,2011,60001302405.0000,-92.2500,3.6447,0.0004,-0.0003,-15597.9657,-0.0300,-0.0034,0.0053,0.0009,0.0037,0.0171,0.0063,0.0130,-0.0130,-0.0178,-0.0274,0.0175,0.0038,0.0027,0.0086,-0.0016,0.0000,0.0695,-0.0081,0.0381,0.0000
3,2011,60001311010.0000,-88.2500,1.7782,0.0011,-0.0003,-8989.7469,-0.0413,0.0013,-0.0035,0.0010,-0.0126,0.0266,0.0285,0.0102,-0.0102,-0.0043,-0.0070,-0.0213,-0.0355,-0.0092,0.0114,-0.0059,0.0000,0.0014,0.0137,0.0020,0.0008
4,2011,60001609086.0000,128.0000,-2.5556,0.0001,0.0003,1794.2415,-0.0155,-0.0074,-0.0499,0.0000,0.0033,0.0135,0.0561,-0.0004,0.0004,0.0027,-0.0110,0.0096,-0.0161,-0.0122,-0.0257,-0.0262,0.0000,-0.0046,0.0077,0.0019,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4456,2017,69113511047.0000,-162.0000,0.9247,-0.0059,-0.0008,17302.0010,-0.0020,-0.0268,0.1479,0.0000,-0.1070,-0.0034,-0.0087,-0.0024,0.0024,0.0293,-0.1378,-0.1205,0.0594,-0.0192,0.1071,-0.0452,0.0000,-0.0878,0.0117,-0.0353,-0.0011
4457,2017,69113512749.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
4458,2017,69113513992.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
4459,2017,69113603761.0000,-1.3333,-1.0904,0.0002,0.0000,-10080.8001,0.0001,0.0000,0.0333,-0.0018,-0.0139,0.0000,-0.0140,-0.0330,0.0330,0.0216,0.0028,-0.0045,0.0058,0.0060,0.0058,-0.0044,-0.0018,0.0000,-0.0232,0.0205,0.0000
4460,2017,69113710339.0000,-17.7500,-4.5140,-0.0147,0.0000,-344.8042,-0.0149,-0.0120,0.0123,-0.0001,0.0443,-0.0111,-0.0185,-0.0622,0.0622,-0.1332,-0.0242,0.0034,-0.1085,-0.0464,0.1157,0.0469,0.0000,0.0000,-0.0028,0.0183,0.0000

In [32]:
ap_model.to_csv('ap_model.csv', index=False)