Want to read in the data for Califronia schools... FIPS is a 6 here

In [8]:
import pandas as pd
import numpy as np
import json      # library for working with JSON-formatted text strings
import requests  # library for accessing content from web URLs
import pprint    # library for cleanly printing Python data structures
pp = pprint.PrettyPrinter()

import seaborn as sns

In [21]:
response = requests.get("https://educationdata.urban.org/api/v1/schools/crdc/discipline/2017/disability/race/sex?fips=6&page=1")
results = response.text
data = json.loads(results)

col_names = data['results'][0].keys()
count = data['count']
print(count)

#fips 6 : pages 2, 3, 4, 5, 6 

# We wanted to see what different columns they had in the data 
print(col_names)
print(type(col_names))

direct_2011 = pd.DataFrame(data['results'])

direct_2011[['fips']]

#direct_2011.isnull().sum()
#direct_2011 = pd.DataFrame(data['results'])
direct_2011

759075
dict_keys(['crdc_id', 'ncessch', 'year', 'fips', 'leaid', 'race', 'sex', 'disability', 'lep', 'revised_flag', 'students_susp_in_sch', 'students_susp_out_sch_single', 'students_susp_out_sch_multiple', 'expulsions_no_ed_serv', 'expulsions_with_ed_serv', 'expulsions_zero_tolerance', 'students_corporal_punish', 'students_arrested', 'students_referred_law_enforce', 'transfers_alt_sch_disc'])
<class 'dict_keys'>

,crdc_id,ncessch,year,fips,leaid,race,sex,disability,lep,revised_flag,students_susp_in_sch,students_susp_out_sch_single,students_susp_out_sch_multiple,expulsions_no_ed_serv,expulsions_with_ed_serv,expulsions_zero_tolerance,students_corporal_punish,students_arrested,students_referred_law_enforce,transfers_alt_sch_disc
0,060000103278,060000103278,2017,6,0600001,1,1,0,99,None,1,12,0,0,0,0,-2,0,0,0.000
1,060000103278,060000103278,2017,6,0600001,1,1,99,99,None,7,15,0,0,0,0,-1,0,0,0.000
2,060000103278,060000103278,2017,6,0600001,1,1,1,99,None,6,3,0,0,0,0,-2,0,0,0.000
3,060000103278,060000103278,2017,6,0600001,1,2,1,99,None,0,0,0,0,0,0,-2,0,0,0.000
4,060000103278,060000103278,2017,6,0600001,1,2,0,99,None,0,4,0,0,0,0,-2,0,0,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,060001407287,060001407287,2017,6,0600014,99,2,1,99,None,0,0,0,0,0,0,-2,0,0,0.000
2996,060001407287,060001407287,2017,6,0600014,99,99,1,99,None,0,0,0,0,0,0,-1,0,0,0.000
2997,060001407287,060001407287,2017,6,0600014,99,99,0,99,None,0,0,0,0,0,0,-1,0,1,0.000
2998,060001407287,060001407287,2017,6,0600014,99,99,99,99,None,0,0,0,0,0,0,-1,0,1,0.000
2999,060001407287,060001407287,2017,6,0600014,99,99,2,99,None,0,0,0,0,0,0,-1,0,0,0.000

In [22]:
count = 759075 #3000*10
print(count)
if (count % 3000 == 0): 
    max_page = int(count / 3000) 
else: 
    max_page = int(count / 3000) + 1 
max_page

759075

254

In [14]:
print(direct_2011.dtypes)
#direct11_all[direct11_all[['year', 'fips', 'race', 'sex', 'enrollment_crdc']] < 0] = np.nan
#direct11_all.isnull().sum()

crdc_id                           object
ncessch                           object
year                               int64
fips                               int64
leaid                             object
race                               int64
sex                                int64
disability                         int64
lep                                int64
revised_flag                      object
students_susp_in_sch               int64
students_susp_out_sch_single       int64
students_susp_out_sch_multiple     int64
expulsions_no_ed_serv              int64
expulsions_with_ed_serv            int64
expulsions_zero_tolerance          int64
students_corporal_punish           int64
students_arrested                  int64
students_referred_law_enforce      int64
transfers_alt_sch_disc            object
dtype: object

In [26]:
#doing a four loop for pages 2, 3, 4, 5, 6

#this is just 2011

direct11_all = pd.DataFrame() 

for i in range(1, 248): 
    
    api = "https://educationdata.urban.org/api/v1/schools/crdc/discipline/2011/disability/race/sex?fips=6&page=" + str(i)
    
    response = requests.get(api)
    results = response.text 
    data = json.loads(results)
    direct_2011 = pd.DataFrame(data['results'])

    
    # Drop unnecessary columns
    direct_2011 = direct_2011.drop(labels=['transfers_alt_sch_disc', 'disability', 'lep'], axis=1)


    
    # Put all of our page data frames on top of each other 
    direct11_all = pd.concat([direct11_all, direct_2011]).reset_index(drop=True)
    
direct11_all[direct11_all[['students_susp_in_sch', 'students_susp_out_sch_single',
                           'students_susp_out_sch_multiple', 'expulsions_no_ed_serv',
                           'expulsions_with_ed_serv', 'expulsions_zero_tolerance',
                           'students_corporal_punish', 'students_arrested', 
                           'students_referred_law_enforce']] < 0] = np.nan 

direct11_all

direct11_all.to_csv('discipline_2011.csv', index=False)

In [27]:
## 2013

direct11_all = pd.DataFrame() 

for i in range(1, 248): 
    
    api = "https://educationdata.urban.org/api/v1/schools/crdc/discipline/2013/disability/race/sex?fips=6&page=" + str(i)
    
    response = requests.get(api)
    results = response.text 
    data = json.loads(results)
    direct_2011 = pd.DataFrame(data['results'])

    
    # Drop unnecessary columns
    direct_2011 = direct_2011.drop(labels=['transfers_alt_sch_disc', 'disability', 'lep'], axis=1)


    
    # Put all of our page data frames on top of each other 
    direct11_all = pd.concat([direct11_all, direct_2011]).reset_index(drop=True)
    
direct11_all[direct11_all[['students_susp_in_sch', 'students_susp_out_sch_single',
                           'students_susp_out_sch_multiple', 'expulsions_no_ed_serv',
                           'expulsions_with_ed_serv', 'expulsions_zero_tolerance',
                           'students_corporal_punish', 'students_arrested', 
                           'students_referred_law_enforce']] < 0] = np.nan 

direct11_all

direct11_all.to_csv('discipline_2013.csv', index=False)

In [28]:
#2015

direct11_all = pd.DataFrame() 

for i in range(1, 255): 
    
    api = "https://educationdata.urban.org/api/v1/schools/crdc/discipline/2015/disability/race/sex?fips=6&page=" + str(i)
    
    response = requests.get(api)
    results = response.text 
    data = json.loads(results)
    direct_2011 = pd.DataFrame(data['results'])

    
    # Drop unnecessary columns
    direct_2011 = direct_2011.drop(labels=['transfers_alt_sch_disc', 'disability', 'lep'], axis=1)


    
    # Put all of our page data frames on top of each other 
    direct11_all = pd.concat([direct11_all, direct_2011]).reset_index(drop=True)
    
direct11_all[direct11_all[['students_susp_in_sch', 'students_susp_out_sch_single',
                           'students_susp_out_sch_multiple', 'expulsions_no_ed_serv',
                           'expulsions_with_ed_serv', 'expulsions_zero_tolerance',
                           'students_corporal_punish', 'students_arrested', 
                           'students_referred_law_enforce']] < 0] = np.nan 

direct11_all

direct11_all.to_csv('discipline_2015.csv', index=False)

In [29]:

#2017

direct11_all = pd.DataFrame() 

for i in range(1, 255): 
    
    api = "https://educationdata.urban.org/api/v1/schools/crdc/discipline/2017/disability/race/sex?fips=6&page=" + str(i)
    
    response = requests.get(api)
    results = response.text 
    data = json.loads(results)
    direct_2011 = pd.DataFrame(data['results'])

    
    # Drop unnecessary columns
    direct_2011 = direct_2011.drop(labels=['transfers_alt_sch_disc', 'disability', 'lep'], axis=1)


    
    # Put all of our page data frames on top of each other 
    direct11_all = pd.concat([direct11_all, direct_2011]).reset_index(drop=True)
    
direct11_all[direct11_all[['students_susp_in_sch', 'students_susp_out_sch_single',
                           'students_susp_out_sch_multiple', 'expulsions_no_ed_serv',
                           'expulsions_with_ed_serv', 'expulsions_zero_tolerance',
                           'students_corporal_punish', 'students_arrested', 
                           'students_referred_law_enforce']] < 0] = np.nan 

direct11_all

direct11_all.to_csv('discipline_2017.csv', index=False)