Want to read in the data for Califronia schools... FIPS is a 6 here

In [2]:
import pandas as pd
import numpy as np
import json      # library for working with JSON-formatted text strings
import requests  # library for accessing content from web URLs
import pprint    # library for cleanly printing Python data structures
pp = pprint.PrettyPrinter()

import seaborn as sns

In [7]:
response = requests.get("https://educationdata.urban.org/api/v1/schools/crdc/chronic-absenteeism/2015/race/sex?fips=6&page=1")
results = response.text
data = json.loads(results)

col_names = data['results'][0].keys()
count = data['count']
print(count)

#fips 6 : pages 2, 3, 4, 5, 6 

# We wanted to see what different columns they had in the data 
print(col_names)
print(type(col_names))

direct_2011 = pd.DataFrame(data['results'])

direct_2011[['fips']]

#direct_2011.isnull().sum()
#direct_2011 = pd.DataFrame(data['results'])
direct_2011

227328
dict_keys(['crdc_id', 'ncessch', 'fips', 'leaid', 'year', 'race', 'sex', 'disability', 'lep', 'students_chronically_absent'])
<class 'dict_keys'>

,crdc_id,ncessch,fips,leaid,year,race,sex,disability,lep,students_chronically_absent
0,060000103278,060000103278,6,600001,2015,5,2,99,99,0.0
1,060000103278,060000103278,6,600001,2015,5,1,99,99,0.0
2,060000103278,060000103278,6,600001,2015,5,99,99,99,0.0
3,060000103278,060000103278,6,600001,2015,4,2,99,99,0.0
4,060000103278,060000103278,6,600001,2015,4,1,99,99,0.0
...,...,...,...,...,...,...,...,...,...,...
2995,060002009285,060002009285,6,600020,2015,7,1,99,99,0.0
2996,060002009285,060002009285,6,600020,2015,7,99,99,99,0.0
2997,060002009285,060002009285,6,600020,2015,1,2,99,99,2.0
2998,060002009285,060002009285,6,600020,2015,1,1,99,99,8.0
2999,060002009285,060002009285,6,600020,2015,1,99,99,99,10.0

In [8]:
count = 227328 #3000*10
print(count)
if (count % 3000 == 0): 
    max_page = int(count / 3000) 
else: 
    max_page = int(count / 3000) + 1 
max_page

227328

76

In [6]:
print(direct_2011.dtypes)
#direct11_all[direct11_all[['year', 'fips', 'race', 'sex', 'enrollment_crdc']] < 0] = np.nan
#direct11_all.isnull().sum()

crdc_id                        object
ncessch                        object
fips                            int64
leaid                          object
year                            int64
race                            int64
sex                             int64
disability                      int64
lep                             int64
students_chronically_absent     int64
dtype: object

In [9]:
## 2013

direct11_all = pd.DataFrame() 

for i in range(1, 80): 
    
    api = "https://educationdata.urban.org/api/v1/schools/crdc/chronic-absenteeism/2013/race/sex?fips=6&page=" + str(i)
    
    response = requests.get(api)
    results = response.text 
    data = json.loads(results)
    direct_2011 = pd.DataFrame(data['results'])

    
    # Drop unnecessary columns
    direct_2011 = direct_2011.drop(labels=['disability', 'lep'], axis=1)


    
    # Put all of our page data frames on top of each other 
    direct11_all = pd.concat([direct11_all, direct_2011]).reset_index(drop=True)
    
direct11_all[direct11_all[['students_chronically_absent']] < 0] = np.nan 

direct11_all

direct11_all.to_csv('chronic_absent_2013.csv', index=False)

In [10]:
#2015

direct11_all = pd.DataFrame() 

for i in range(1, 77): 
    
    api = "https://educationdata.urban.org/api/v1/schools/crdc/chronic-absenteeism/2015/race/sex?fips=6&page=" + str(i)
    
    response = requests.get(api)
    results = response.text 
    data = json.loads(results)
    direct_2011 = pd.DataFrame(data['results'])

    
    # Drop unnecessary columns
    direct_2011 = direct_2011.drop(labels=['disability', 'lep'], axis=1)


    
    # Put all of our page data frames on top of each other 
    direct11_all = pd.concat([direct11_all, direct_2011]).reset_index(drop=True)
    
direct11_all[direct11_all[['students_chronically_absent']] < 0] = np.nan 

direct11_all

direct11_all.to_csv('chronic_absent_2015.csv', index=False)