In [1]:
import os 
import numpy as np
import pandas as pd 
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', lambda x: '%.4f' % x)
import missingno as msno
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [2]:
os.chdir('C:\\Users\\rhian\\Downloads\\CYPLAN 255\\AP-Exams\\Data')
os.getcwd()

'C:\\Users\\rhian\\Downloads\\CYPLAN 255\\AP-Exams\\Data'

In [3]:
ap_rates = pd.read_csv('ap_rates_imputed.csv')
ap_rates

,ncessch,year,sex,race,leaid,students_AP_exam_none,students_AP_exam_oneormore,enrollment_crdc,enrl_AP,enrl_AP_science,enrl_AP_math,enrl_AP_other,enrl_gifted_talented,students_SAT_ACT,students_chronically_absent,students_disc_harass_dis,students_disc_harass_race,students_disc_harass_sex,students_report_harass_dis,students_report_harass_race,students_report_harass_sex,students_susp_in_sch,students_susp_out_sch_single,students_susp_out_sch_multiple,expulsions_no_ed_serv,expulsions_with_ed_serv,expulsions_zero_tolerance,students_arrested,students_referred_law_enforce,AP_oneormore_AP_rate,AP_onemore_rate_logged,AP_onemore_rate_squared,AP_oneormore_quantiles,enrl_AP_quantiles,AP_quantiles
0,60000103278.0000,2011,1,1,600001.0000,0.2159,0.0909,176.0000,0.2670,0.0625,0.0284,0.0455,0.1694,0.0455,0.0795,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.1080,0.0625,0.0000,0.0000,0.0000,0.0000,0.0000,0.3404,-1.0776,0.1159,46,67,67
1,60000103278.0000,2011,1,2,600001.0000,0.0000,0.0000,2.0000,0.0000,0.0000,0.0000,0.0000,0.0970,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,NaN,NaN,NaN,1,1,1
2,60000103278.0000,2011,1,3,600001.0000,0.0260,0.0519,77.0000,0.1039,0.0260,0.0000,0.0260,0.1105,0.0260,0.0260,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.1039,0.0649,0.0000,0.0000,0.0000,0.0000,0.0000,0.5000,-0.6931,0.2500,37,32,32
3,60000103278.0000,2011,1,4,600001.0000,0.0000,0.0000,5.0000,0.4000,0.4000,0.0000,0.0000,0.2135,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,-inf,0.0000,1,81,81
4,60000103278.0000,2011,1,5,600001.0000,0.0000,0.0000,2.0000,0.0000,0.0000,0.0000,0.0000,0.0970,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,NaN,NaN,NaN,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104322,69113710339.0000,2017,99,1,691137.0000,0.0000,0.0690,29.0000,0.0690,0.0218,0.0690,0.0575,0.0930,0.3103,0.2414,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0690,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,1.0000,41,27,27
104323,69113710339.0000,2017,99,3,691137.0000,0.0000,0.0000,7.0000,0.0000,0.0024,0.0000,0.0057,0.0930,0.1429,0.2857,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.1429,0.0000,0.1429,0.1429,0.0000,0.1429,NaN,NaN,NaN,31,21,21
104324,69113710339.0000,2017,99,5,691137.0000,0.0000,0.0000,1.0000,0.0000,0.0024,0.0000,0.0057,0.0930,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,NaN,NaN,NaN,31,21,21
104325,69113710339.0000,2017,99,7,691137.0000,0.0000,0.0000,4.0000,0.0000,0.0024,0.0000,0.0057,0.0930,0.2500,0.5000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,NaN,NaN,NaN,31,21,21
104326,69113710339.0000,2017,99,99,691137.0000,0.0000,0.0488,41.0000,0.0488,0.0144,0.0488,0.0367,0.0878,0.2683,0.2683,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0488,0.0244,0.0000,0.0244,0.0244,0.0000,0.0244,1.0000,0.0000,1.0000,36,24,24

In [8]:
ap_rates[(ap_rates['ncessch'] == 69113710339.0000) & (ap_rates['year'] == 2011)]

,ncessch,year,sex,race,leaid,students_AP_exam_none,students_AP_exam_oneormore,enrollment_crdc,enrl_AP,enrl_AP_science,enrl_AP_math,enrl_AP_other,enrl_gifted_talented,students_SAT_ACT,students_chronically_absent,students_disc_harass_dis,students_disc_harass_race,students_disc_harass_sex,students_report_harass_dis,students_report_harass_race,students_report_harass_sex,students_susp_in_sch,students_susp_out_sch_single,students_susp_out_sch_multiple,expulsions_no_ed_serv,expulsions_with_ed_serv,expulsions_zero_tolerance,students_arrested,students_referred_law_enforce,AP_oneormore_AP_rate,AP_onemore_rate_logged,AP_onemore_rate_squared,AP_oneormore_quantiles,enrl_AP_quantiles,AP_quantiles
104262,69113710339.0000,2011,1,1,691137.0000,0.0000,0.1724,29.0000,0.1724,0.0000,0.0000,0.0690,0.1293,0.0690,0.2759,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,1.0000,65,47,47
104263,69113710339.0000,2011,1,2,691137.0000,0.0000,0.0000,2.0000,0.0000,0.0000,0.0000,0.0000,0.0930,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,NaN,NaN,NaN,31,21,21
104264,69113710339.0000,2011,1,3,691137.0000,0.0000,0.0000,8.0000,0.0000,0.0000,0.0000,0.0000,0.0930,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,NaN,NaN,NaN,31,21,21
104265,69113710339.0000,2011,1,6,691137.0000,0.0000,1.0000,2.0000,1.0000,0.0000,0.0000,1.0000,0.3360,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,1.0000,100,100,100
104266,69113710339.0000,2011,1,99,691137.0000,0.0000,0.1707,41.0000,0.1707,0.0000,0.0000,0.0976,0.1293,0.0976,0.1951,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,1.0000,64,47,47
104267,69113710339.0000,2011,2,1,691137.0000,0.0000,0.1429,35.0000,0.1429,0.0000,0.0000,0.1429,0.1252,0.2286,0.2286,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,1.0000,59,41,41
104268,69113710339.0000,2011,2,2,691137.0000,0.0000,0.0000,2.0000,0.0000,0.0000,0.0000,0.0000,0.0930,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,NaN,NaN,NaN,31,21,21
104269,69113710339.0000,2011,2,3,691137.0000,0.0000,0.2500,8.0000,0.2500,0.0000,0.0000,0.2500,0.1607,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,1.0000,79,65,65
104270,69113710339.0000,2011,2,5,691137.0000,0.0000,0.0000,2.0000,0.0000,0.0000,0.0000,0.0000,0.0930,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,NaN,NaN,NaN,31,21,21
104271,69113710339.0000,2011,2,6,691137.0000,0.0000,0.0000,2.0000,0.0000,0.0000,0.0000,0.0000,0.0930,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,NaN,NaN,NaN,31,21,21
104272,69113710339.0000,2011,2,7,691137.0000,0.0000,0.0000,2.0000,0.0000,0.0000,0.0000,0.0000,0.0930,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,NaN,NaN,NaN,31,21,21
104273,69113710339.0000,2011,2,99,691137.0000,0.0000,0.1429,49.0000,0.1429,0.0000,0.0000,0.1429,0.1252,0.2041,0.2041,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,1.0000,59,41,41
104274,69113710339.0000,2011,99,1,691137.0000,0.0000,0.1562,64.0000,0.1562,0.0000,0.0000,0.1094,0.1190,0.1562,0.2500,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,1.0000,62,44,44
104275,69113710339.0000,2011,99,2,691137.0000,0.0000,0.0000,2.0000,0.0000,0.0000,0.0000,0.0000,0.0930,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,NaN,NaN,NaN,31,21,21
104276,69113710339.0000,2011,99,3,691137.0000,0.0000,0.1250,16.0000,0.1250,0.0000,0.0000,0.1250,0.1075,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,1.0000,54,37,37
104277,69113710339.0000,2011,99,5,691137.0000,0.0000,0.0000,2.0000,0.0000,0.0000,0.0000,0.0000,0.0930,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,NaN,NaN,NaN,31,21,21
104278,69113710339.0000,2011,99,6,691137.0000,0.0000,0.5000,4.0000,0.5000,0.0000,0.0000,0.5000,0.2477,0.5000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,1.0000,96,91,91
104279,69113710339.0000,2011,99,7,691137.0000,0.0000,0.0000,2.0000,0.0000,0.0000,0.0000,0.0000,0.0930,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,NaN,NaN,NaN,31,21,21
104280,69113710339.0000,2011,99,99,691137.0000,0.0000,0.1556,90.0000,0.1556,0.0000,0.0000,0.1222,0.1190,0.1556,0.2000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,1.0000,61,44,44

# Get totals

In [4]:
cropped = ap_rates[['ncessch', 'year', 'sex', 'race', 'enrollment_crdc']]
totals = cropped[(cropped['race'] == 99) & (cropped['sex'] == 99)]
totals = totals.drop(['sex', 'race'], axis=1)
totals

                ncessch  year  enrollment_crdc
22     60000103278.0000  2011         512.0000
45     60000103278.0000  2013         425.0000
66     60000103278.0000  2015         379.0000
87     60000103278.0000  2017         371.0000
108    60000113859.0000  2017        2848.0000
...                 ...   ...              ...
104261 69113603761.0000  2017         358.0000
104280 69113710339.0000  2011          90.0000
104298 69113710339.0000  2013          78.0000
104312 69113710339.0000  2015          59.0000
104326 69113710339.0000  2017          41.0000

[4762 rows x 3 columns]

In [5]:
race_totals = cropped[cropped['sex'] == 99]
race_totals = race_totals[race_totals['race'] != 99]

race_totals = race_totals.merge(totals, on = ['ncessch', 'year'], how = 'left')
race_totals['race_enrl_%'] = race_totals['enrollment_crdc_x'] / race_totals['enrollment_crdc_y']

race_totals = race_totals.drop(['sex', 'enrollment_crdc_x', 'enrollment_crdc_y'], axis=1)


# Change the race column values to be more easily interpretable 
race_dict = {1 : '%White', 2 : '%Black', 3: '%Hispanic', 4 : '%Asian', 
             5: '%Indigenous \nAmerican ', 
             6: "%Pacific \nIslander", 
             7 : "%Multiracial", 8 : "%Nonresident alien", 9 : "%Unknown", 
             20 : "%Other", 99 : "%Total"}
race_totals = race_totals.replace({"race": race_dict})

race_totals

               ncessch  year                     race  race_enrl_%
0     60000103278.0000  2011                   %White       0.6582
1     60000103278.0000  2011                   %Black       0.0078
2     60000103278.0000  2011                %Hispanic       0.2832
3     60000103278.0000  2011                   %Asian       0.0137
4     60000103278.0000  2011  %Indigenous \nAmerican        0.0078
...                ...   ...                      ...          ...
30959 69113710339.0000  2015             %Multiracial       0.0678
30960 69113710339.0000  2017                   %White       0.7073
30961 69113710339.0000  2017                %Hispanic       0.1707
30962 69113710339.0000  2017  %Indigenous \nAmerican        0.0244
30963 69113710339.0000  2017             %Multiracial       0.0976

[30964 rows x 4 columns]

In [6]:
race_totals[race_totals['race_enrl_%'].isna()]

Empty DataFrame
Columns: [ncessch, year, race, race_enrl_%]
Index: []

In [36]:
race_pct = race_totals.pivot(index=['ncessch', 'year'], columns='race', values='race_enrl_%').reset_index() 
race_pct

race,ncessch,year,%Asian,%Black,%Hispanic,%Indigenous \nAmerican,%Multiracial,%Pacific \nIslander,%White
0,60000103278.0000,2011,0.0137,0.0078,0.2832,0.0078,0.0254,0.0039,0.6582
1,60000103278.0000,2013,0.0094,0.0094,0.3341,0.0165,0.0447,0.0047,0.5812
2,60000103278.0000,2015,0.0053,0.0106,0.2639,0.0053,0.2955,0.0053,0.4142
3,60000103278.0000,2017,0.0108,0.0216,0.4070,0.0135,0.0135,NaN,0.5337
4,60000113859.0000,2017,0.0207,0.0597,0.2651,0.0021,0.1225,NaN,0.5298
...,...,...,...,...,...,...,...,...,...
4757,69113603761.0000,2017,0.0140,0.0084,0.6955,0.0028,0.0112,NaN,0.2737
4758,69113710339.0000,2011,NaN,0.0222,0.1778,0.0222,0.0222,0.0444,0.7111
4759,69113710339.0000,2013,0.0256,0.0256,0.1667,0.0513,0.0256,NaN,0.7051
4760,69113710339.0000,2015,0.0339,NaN,0.1186,NaN,0.0678,NaN,0.7797
4761,69113710339.0000,2017,NaN,NaN,0.1707,0.0244,0.0976,NaN,0.7073

In [ ]:
race_pct

In [ ]:
race_pct[race_pct['race_enrl_%'].isna()]

In [45]:
race_pct.to_csv('race_percentages.csv', index=False)

In [43]:
sex_totals = cropped[cropped['race'] == 99]
sex_totals = sex_totals[sex_totals['sex'] != 99]

sex_totals = sex_totals.merge(totals, on = ['ncessch', 'year'], how = 'left')
sex_totals['sex_enrl_%'] = sex_totals['enrollment_crdc_x'] / sex_totals['enrollment_crdc_y']

sex_totals = sex_totals.drop(['race', 'enrollment_crdc_x', 'enrollment_crdc_y'], axis=1)

# # Change the race column values to be more easily interpretable 
sex_dict = {1 : '%Male', 2 : '%Female', 9 : "%Unknown", 99 : "%Total"}
sex_totals = sex_totals.replace({"sex": sex_dict})

sex_totals

              ncessch  year      sex  sex_enrl_%
0    60000103278.0000  2011    %Male      0.5215
1    60000103278.0000  2011  %Female      0.4785
2    60000103278.0000  2013    %Male      0.5082
3    60000103278.0000  2013  %Female      0.4918
4    60000103278.0000  2015    %Male      0.4855
...               ...   ...      ...         ...
9517 69113710339.0000  2013  %Female      0.5128
9518 69113710339.0000  2015    %Male      0.4915
9519 69113710339.0000  2015  %Female      0.5085
9520 69113710339.0000  2017    %Male      0.5610
9521 69113710339.0000  2017  %Female      0.4390

[9522 rows x 4 columns]

In [44]:
sex_pct = sex_totals.pivot(index=['ncessch', 'year'], columns='sex', values='sex_enrl_%').reset_index() 
sex_pct

sex           ncessch  year  %Female  %Male
0    60000103278.0000  2011   0.4785 0.5215
1    60000103278.0000  2013   0.4918 0.5082
2    60000103278.0000  2015   0.5145 0.4855
3    60000103278.0000  2017   0.4663 0.5337
4    60000113859.0000  2017   0.4972 0.5028
...               ...   ...      ...    ...
4757 69113603761.0000  2017   0.4525 0.5475
4758 69113710339.0000  2011   0.5444 0.4556
4759 69113710339.0000  2013   0.5128 0.4872
4760 69113710339.0000  2015   0.5085 0.4915
4761 69113710339.0000  2017   0.4390 0.5610

[4762 rows x 4 columns]

In [46]:
sex_pct.to_csv('sex_percentages.csv', index=False)